openapi: 3.2.0
info:
  title: stream-api Compare.json?streams={content}&target={number}&pr…
  version: '1.1'
servers:
- url: https://api.massrelevance.com
security:
- sec0: []
tags:
- name: Compare.json?streams={content}&target={number}&precision
paths:
  /compare.json?streams={content}&target={number}&precision:
    get:
      summary: Get specific decimals in percent return
      description: Return specific decimals
      operationId: get-specific-decimals-in-percent-return-1
      parameters:
      - name: content
        in: path
        schema:
          type: string
        required: true
      - name: number
        in: path
        schema:
          type: string
        required: true
      - name: streams
        in: query
        schema:
          type: string
          default: MassRelDemo/kindle,MassRelDemo/galaxy-topic1
      - name: target
        in: query
        schema:
          type: integer
          format: int32
          default: 500
      - name: precision
        in: query
        description: '**Possible Values:** `0`, `1`, `2`, `3`, `4`'
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: Coming Soon
      deprecated: false
      security: []
      tags:
      - Compare.json?streams={content}&target={number}&precision
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: true
x-readme-fauxas: true
