openapi: 3.2.0
info:
  description: Welcome to the Spredfast Conversations API.
  version: '1'
  title: Conversations API V1 Labels API
  license:
    name: Spredfast API Terms of Use
    url: https://s3.amazonaws.com/apiexplorer.spredfast.com/APITermsonlineacceptance.html
servers:
- url: https://api.spredfast.com
tags:
- name: Labels
paths:
  /{environment}/v1/company/{companyId}/initiative/{initiativeId}/contentLabel:
    get:
      tags:
      - Labels
      summary: Retrieve paged labels
      description: ''
      operationId: findContentLabelsForCompany
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: initiativeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: q
        in: query
        description: If present, filter the results by the provided title string.
        required: false
        schema:
          type: string
      - name: priority
        in: query
        description: If present, only return "top" labels.
        required: false
        schema:
          type: boolean
      - name: pageNumber
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: environment
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentLabel'
components:
  schemas:
    ContentLabel:
      type: object
      properties:
        title:
          type: string
        priority:
          type: boolean
          default: false
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.spredfast.com/v3/oauth/authorize
          tokenUrl: https://login.spredfast.com/v3/oauth/token
          scopes:
            all: Read/write access for all endpoints.
x-readme:
  explorer-enabled: false
  proxy-enabled: false
  samples-enabled: true
